{{- $cover := false -}}
{{- $autoCover := default $.Site.Params.autoCover false }}

{{- if index .Params "cover" -}}
  {{- if resources.GetMatch .Params.Cover }}
    {{- $cover = ((resources.GetMatch .Params.Cover).Resize "800x webp").RelPermalink -}}
  {{- else -}}
    {{- $cover = absURL .Params.Cover -}}
  {{- end -}}
{{- else if $.Site.Params.AutoCover -}}
  {{- if (not .Params.Cover) -}}
    {{- if resources.GetMatch "cover.*" -}}
      {{- $cover = (resources.GetMatch "cover.*").RelPermalink -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{if $cover -}}
  <!-- Cover image found -->
  <img src="{{ $cover }}"
    class="post-cover"
    alt="{{ .Title | plainify | default " " }}"
    title="{{ .Params.CoverCredit |plainify|default "Cover Image" }}" />
{{- end }}
